.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards{
    width: 45%;
    box-shadow: 0 0 5px black;
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.cards img{
    width: 30%;
    object-fit: contain;
}
.cards h1{
    font-size: 1.4rem;
    width: 40%;
    padding-right: .5em;
}

@media  only screen and (max-width: 568px) {
    .cards{
        width: 85%;
    }
    .cards h1{
        font-size: 1.2rem;
    }
}